/.vscode/settings.json
/default_matrix.txt
/ix_openmp.txt
/matrices_openmp
/matrix.txt
/matrix_openmp.txt
/mpi_matrix.txt
./idea/**/*
./.idea/**/*
__pycache__/generate_matrice_to_file.cpython-311.pyc
